/* components/sections/TransitionPhase.module.css */

.transitionContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    pointer-events: none;
  }
  
  .verticalGlitch {
    position: absolute;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
  }
  
  .verticalGlitch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00f0ff;
    opacity: 0.5;
  }
  
  .verticalGlitch:nth-child(1) {
    left: 0;
  }
  
  .verticalGlitch:nth-child(2) {
    left: 20vw;
  }
  
  .verticalGlitch:nth-child(3) {
    left: 40vw;
  }
  
  .verticalGlitch:nth-child(4) {
    left: 60vw;
  }
  
  .verticalGlitch:nth-child(5) {
    left: 80vw;
  }